@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global overrides can go below this line */

/* Example: smooth font rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}